group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget Fable.Parsimmon
    nuget FSharp.Core
    nuget Fable.Core

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6