@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);
#qunit-header {
  margin: 36px 0 0 0;
  padding: 0.5em 1rem 0.2em 1rem;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 400; }
  #qunit-header a {
    text-decoration: none;
    color: #666; }
    #qunit-header a:hover, #qunit-header a:focus {
      color: #999; }

#qunit-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  margin: 0;
  background-color: #2e8ffb;
  animation: progress-stripes 0.2s linear infinite;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 12px 12px; }
  #qunit-banner.qunit-pass {
    background-color: #4ac062;
    background-image: none;
    animation: none; }
  #qunit-banner.qunit-fail {
    background-color: #b1353a;
    background-image: none;
    animation: none; }

@keyframes progress-stripes {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 12px 0px; } }

#qunit-tests table {
  border-collapse: collapse;
  margin-top: 0.2em; }

#qunit-tests th, #qunit-tests td {
  padding: 0.2rem 0.4rem; }

#qunit-tests th {
  text-align: right;
  vertical-align: top; }

#qunit-tests td {
  vertical-align: top; }

#qunit-tests li {
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  margin-top: 4px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-left: 3px solid #ccc;
  transition: background-color 1s, border-color 1s; }
  #qunit-tests li .module-name,
  #qunit-tests li .test-name {
    font-weight: normal; }
  #qunit-tests li.pass {
    background-color: #fff;
    border-left: 3px solid #4ac062; }
    #qunit-tests li.pass .test-actual,
    #qunit-tests li.pass .test-expected {
      color: #999; }
  #qunit-tests li.fail {
    background-color: #fff8f8;
    border-left: 3px solid #b1353a; }
    #qunit-tests li.fail .test-actual {
      color: #b1353a; }
    #qunit-tests li.fail .test-expected {
      color: #4ac062; }
    #qunit-tests li.fail .test-diff {
      color: #3a5fb2; }
    #qunit-tests li.fail .test-source {
      color: #666; }
  #qunit-tests li.pass .qunit-assert-list, #qunit-tests li.fail .qunit-assert-list {
    margin-top: 1rem; }
  #qunit-tests li li.pass,
  #qunit-tests li li.fail {
    background-color: #fff; }
  #qunit-tests li.skipped strong {
    cursor: default; }
  #qunit-tests li .runtime {
    float: right;
    font-size: 0.6rem;
    color: #999;
    margin-top: 2px; }
  #qunit-tests li strong {
    cursor: pointer; }
  #qunit-tests li a {
    opacity: 0;
    padding: 0.5em;
    color: #C2CCD1;
    text-decoration: none;
    transition: opacity 1s; }
    #qunit-tests li a:hover, #qunit-tests li a:focus {
      color: #000; }
  #qunit-tests li:hover a {
    opacity: 1; }

#qunit-tests li.running,
#qunit-tests li.pass,
#qunit-tests li.fail,
#qunit-tests li.skipped {
  display: list-item; }

#qunit-tests.hidepass {
  position: relative; }
  #qunit-tests.hidepass li.pass {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0; }

#qunit-testresult {
  padding: 0.5em 1rem 0.5em 1rem;
  color: #555;
  margin: 0;
  border-radius: 3px;
  font-size: 0.9rem; }
  #qunit-testresult br {
    content: ' ';
    margin-right: 0.3rem; }
  #qunit-testresult .passed {
    color: #4ac062;
    font-weight: 900; }
  #qunit-testresult .total {
    color: #000;
    font-weight: 900; }
  #qunit-testresult .failed {
    color: #b1353a;
    font-weight: 900; }
  #qunit-testresult .module-name {
    font-weight: 700; }

#qunit-tests {
  list-style: none;
  margin: 0 1rem;
  padding: 0; }
  #qunit-tests .qunit-assert-list {
    padding: 0;
    list-style: none; }
  #qunit-tests b.counts {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.6rem; }
  #qunit-tests b.passed {
    color: #4ac062; }
  #qunit-tests b.failed {
    color: #b1353a; }
  #qunit-tests .qunit-skipped-label {
    background-color: #F4FF77;
    display: inline-block;
    font-style: normal;
    color: #366097;
    line-height: 1.8em;
    padding: 0 0.5em;
    margin: -0.4em 0.4em -0.4em 0; }
  #qunit-tests .skipped {
    background-color: #EBECE9; }
  #qunit-tests .qunit-source {
    display: none;
    color: rgba(0, 0, 0, 0.7); }
  #qunit-tests pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word; }
  #qunit-tests del {
    background-color: #E0F2BE;
    color: #374E0C;
    text-decoration: none; }
  #qunit-tests ins {
    background-color: #FFCACA;
    color: #500;
    text-decoration: none; }
  #qunit-tests > li {
    display: none; }

#qunit-testrunner-toolbar {
  color: #333;
  overflow: hidden;
  font-size: 0.7rem;
  padding: 0.3rem 1rem;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  background-color: #e8e8e8;
  border-bottom: 1px solid #e3e3e3; }
  #qunit-testrunner-toolbar label {
    display: inline-block;
    padding: 0 1em 0 0.2em; }
  #qunit-testrunner-toolbar input, #qunit-testrunner-toolbar select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.3rem;
    border-radius: 3px; }

#qunit-modulefilter-container {
  float: right;
  padding: 0.2em; }
  #qunit-modulefilter-container label {
    display: none; }

#qunit-modulefilter-component {
  width: 400px;
  display: inline-block; }

#qunit-modulefilter-search {
  width: inherit;
  box-sizing: border-box; }

#qunit-modulefilter-dropdown-container {
  color: #000000;
  position: absolute;
  width: inherit;
  border: 1px solid #D3D3D3;
  border-top: none;
  box-sizing: border-box;
  background-color: #F5F5F5;
  border-radius: 0 0 .25em .25em;
  font-family: sans-serif;
  font-size: smaller; }

#qunit-modulefilter-dropdown-list {
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0 .15em .15em .15em; }

#qunit-modulefilter-dropdown-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#qunit-modulefilter-dropdown-list label {
  display: inline; }

#qunit-modulefilter-dropdown-list input[type="checkbox"] {
  position: relative;
  top: 0;
  margin-right: .5em; }

#clear-module-filter {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-top: .5em; }

#clear-module-filter-text {
  margin-left: .8em; }

#qunit-filteredTest {
  padding: 0.5em 1em 0.5em 1em;
  color: #3eafb3; }
  #qunit-filteredTest a {
    background-color: #3eafb3;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.65rem;
    padding: 2px 5px; }
    #qunit-filteredTest a:hover {
      background: #379ca0; }

.qunit-url-config {
  display: inline-block;
  padding: 0.1em; }

.qunit-filter {
  display: block;
  float: right;
  margin-left: 1em; }
  .qunit-filter button {
    display: none; }

body {
  margin: 0; }

strong, b {
  font-weight: 700; }

#qunit {
  background-color: #f5f5f5;
  padding: 0.5rem 0rem 2rem 0rem;
  font-family: "Roboto", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif; }

#qunit-userAgent {
  display: none; }

.qunit-source {
  margin: 0.6em 0 0.3em; }

.qunit-collapsed {
  display: none; }

#qunit-fixture {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 1000px;
  height: 1000px; }

.test-source {
  display: none
}

.test-expected {
  display: none
}

.test-actual {
  display: none
}